{
  "singleQuote": true,
  "bracketSpacing": true,
  "printWidth": 90,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "css"
}
